<nav>
    <h3><a href="/">My Film Library</a></h3>
    <ul>
        <li><a href="/directors">Directors<i class="material-icons">arrow_drop_down</i></a>
            <ul>
                <li><a href="/directors/new">Add Director</a></li>
            </ul>
        </li>  
        <li><a href="/actors">Actors<i class="material-icons">arrow_drop_down</i></a>
            <ul>
                <li><a href="/actors/new">Add Actor</a></li>
            </ul>
        </li>

        <li><a href="/movies">Movies<i class="material-icons">arrow_drop_down</i></a>
            <ul>
                <li><a href="/movies/new">Add Movie</a></li>
            </ul>
        </li>
    </ul>
</nav>