<h2>New directors</h2>

<form action="/directors" method="POST">
    <%- include('form_fields.ejs')  %> 
    <div>
        <a href="/directors">Cancel</a>
        <button type="submit">Create</button>
    </div>
</form>
