<h2>Edit Movie</h2>
<form action="/movies/<%= movie.id %>?_method=PUT" method="POST">
  <%- include('form_fields') %>
  <a href="/movie">Cancel</a>
  <button type="submit">Update</button>
</form>